<turbo-frame id="model-attribute-battery" class="block mt-3">
  <h2 class="text-lg font-bold tracking-tight md:text-2l">{{ 'attributes.battery.title'|trans }}</h2>
  {% if attribute.value|default(null) is not empty %}
    {% if attribute.derived %}
      <em class="bg-primary-400 text-primary-100 block rounded-t text-xs not-italic font-bold px-2 py-1">{{ 'attributes.derivedValue'|trans }}</em>
    {% endif %}
    <ul class="{{ attribute.derived ? 'bg-primary-100 rounded-b px-2 text-primary-800' : '' }}">
      {% for reference in attribute.value %}
        <li class="font-mono">{{ reference }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <turbo-frame id="add-battery-reference" class="mt-2 block">
    <a href="{{ path('app_attribute_battery_add', {'model': model.uuid}) }}">
      <button class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-1 text-center">
      {% if attribute.derived|default(false) %}
        {{ 'attributes.overrideValue'|trans }}
      {% else %}
        {{ 'attributes.battery.addReference'|trans }}
      {% endif %}

      </button>
    </a>
  </turbo-frame>
</turbo-frame>
