<turbo-frame id="add-supported-os">
    {{ form_start(formSupportedOs, {"attr": {"data-turbo-frame": "model-attribute-supported-os-list"}}) }}
    {{ form_row(formSupportedOs.osVersion) }}
    {{ form_row(formSupportedOs.helpLink) }}
    {{ form_row(formSupportedOs.comment) }}
    <button class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-1 text-center">
        {{ 'common.save'|trans }}
    </button>
    {{ form_end(formSupportedOs) }}
</turbo-frame>
