{% extends 'base.html.twig' %}

{% block body %}
  <header class="bg-teal-700 px-6 pt-6 pb-3">
    <h1 class="font-bold text-teal-100 flex items-end">
      <a href="{{ path('app_series_public_list') }}" class="lg:text-[50px]/[38px] text-[36px]/[26px] font-black text-teal-400">
        DDDB
      </a>
      <span class="leading-none ml-3">{{ 'common.site_name'|trans }}</span>
    </h1>
  </header>

  <main class="px-6 py-3 flex flex-wrap gap-4">
  {% for seriesFromManufacturer in series %}
      <div>
        <h2 class="text-lg font-bold block">{{ seriesFromManufacturer.manufacturer }}</h2>
        {% for serie in seriesFromManufacturer.series %}
          <a
            class="inline-block mr-4"
            href="{{ path('app_series_public_view', {'slug': "#{serie.manufacturer}-#{serie.name}"|slug, 'serie': serie.uuid}) }}"
          >
            {{ serie.name }}
          </a>
        {% endfor %}
      </div>
  {% endfor %}
  </main>
{% endblock %}
