<turbo-frame id="model-android-code-name">
  <h2 class="text-lg">
    {{ 'models.view.androidCodeName'|trans }}
    <span class="font-bold">
      {{ model.androidCodeName }}
      {% if model.variant > 0 %}{{ 'models.view.variant'|trans({ '%variant%': model.variant }) }}{% endif %}
    </span>
    <a href="{{ path('app_android_code_name_set', { model: model.uuid }) }}" class="mt-2 block mx-2 inline-block"><button class="text-white bg-primary-600 hover:bg-primary-700 rounded-lg text-sm px-5 py-1 text-center"><span class="align-text-bottom">{{ 'common.update'|trans }}</span></button></a>
  </h2>
</turbo-frame>
