{% extends 'base.html.twig' %}

{% block title %}
  {{ 'common.search'|trans }}
  -
  {{ parent() }}
{% endblock %}

{% block body %}
  {% include "common/_aside.html.twig" %}
  <main class="ml-72 py-8 px-8">
    <section>
      <header class="w-full flex justify-between items-center mb-8 ">
        <h1 class="text-xl font-bold tracking-tight md:text-2xl">{{ search }}</h1>
      </header>

      <table class="min-w-full divide-y divide-gray-200 table-fixed">
        <thead class="bg-gray-100">
          <tr>
            <th class="p-4 text-sm font-medium text-left text-gray-500">{{ 'series.list.table.thead.manufacturer'|trans }}</th>
            <th class="p-4 text-sm font-medium text-left text-gray-500">{{ 'models.list.table.thead.serie'|trans }}</th>
            <th class="p-4 text-sm font-medium text-left text-gray-500">{{ 'models.list.table.thead.reference'|trans }}</th>
            <th class="p-4 text-sm font-medium text-left text-gray-500">{{ 'models.list.table.thead.androidCodeName'|trans }}</th>
            <th class="p-4 text-sm font-medium text-left text-gray-500">{{ 'models.list.table.thead.variant'|trans }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          {% for model in models %}
            <tr class="hover:bg-gray-50">
              <td class="p-4 text-sm">{{ model.manufacturer }}</td>
              <td class="p-4 text-sm">{{ model.serie }}</td>
              <td class="p-4 text-sm">{{ model.reference }}</td>
              <td class="p-4 text-sm">{{ model.androidCodeName }}</td>
              <td class="p-4 text-sm">{{ model.variant > 0 ? model.variant : '' }}</td>
              <td class="p-4 text-sm">
                <a href="{{ path('app_model_view', {serie: model.serieUuid, model: model.uuid}) }}" class="inline-block text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-sm text-sm px-3 py-1 text-center">
                  {{ 'models.list.table.td.modelLink'|trans }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
{% endblock %}
