{% extends 'base.html.twig' %}

{% block title %}
  {{ 'models.view.meta.title'|trans({
      '%manufacturer%': model.serie.manufacturer,
      '%serie%': model.serie.name,
      '%reference%': model.reference ? " - #{model.reference}" : '',
  }) }}
  -
  {{ parent() }}
{% endblock %}

{% block body %}
  {% include "common/_aside.html.twig" %}
  <main class="ml-72 py-8 px-8">
    <section class="mb-4">
      <header class="w-full flex justify-between items-center">
        <h1 class="text-xl font-bold tracking-tight md:text-2xl">
          {{ 'models.view.title'|trans({
            '%manufacturer%': model.serie.manufacturer,
            '%serie%': model.serie.name,
            '%reference%': model.reference ? " - #{model.reference}" : '',
          }) }}
          {% if model.parentModel %}
          <span class="font-light">{{ 'models.view.basedOn'|trans({'%reference%': model.parentModel.reference}) }}<span>
          {% endif %}
        </h1>
      </header>
    </section>

    <section class="my-3">
      <h2 class="text-lg">
        {{ 'models.view.androidCodeName'|trans }}
        <span class="font-bold">{{ model.androidCodeName }}</span>
      </h2>
      {% for attributeName in allAttributeNames %}
        {% include "models/attributes/_#{attributeName}.html.twig"
          with { attribute: attributes[attributeName] | default(null) }
        %}
      {% endfor %}
    </section>

    <section class="my-3">
      <h2 class="text-lg font-bold tracking-tight md:text-2l">{{ 'models.view.codeTac.title'|trans }}</h2>

      {% if codeTacs | length > 0 %}
        <ul>
          {% for code in codeTacs %}
          <li class="list-disc ml-4">
            <span class="font-mono">{{ '%08d'|format(code) }}</span>
            <form
              method="POST"
              class="inline-block"
              action="{{ path('app_code_tac_delete', {'model': model.uuid, 'codeTac': '%08d'|format(code)}) }}"
              data-turbo-confirm="{{ 'common.delete.confirm'|trans }}"
            >
              <button
                type="submit"
                class="text-white bg-slate-400 rounded-lg text-xs px-2 py-0.5 text-center"
              >
                <span class="text-lg/4 font-bold inline" aria-hidden="true">&times;</span>
                <span class="align-text-bottom">{{ 'common.delete'|trans }}</span>
              </button>
            </form>
          </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="p-4"><em>{{ 'models.view.codeTac.none'|trans }}</em></p>
      {% endif %}

      <div>
        {{ form_start(formCodeTac) }}
        {{ form_row(formCodeTac.codeTac) }}
        <button class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-1 text-center">
          {{ 'models.create.form.codeTac.submit'|trans }}
        </button>
        {{ form_end(formCodeTac) }}
      </div>
    </section>
  </main>
{% endblock %}
