<div class="w-full flex justify-between items-center p-4">
  <p class="text-sm font-medium">
    {{ 'pagination.count'|trans({ '%start%': pageSize * (page - 1) + 1, '%end%': pagination.totalItems < pageSize ? pagination.totalItems : pageSize * (page - 1) + pageSize, '%total%': pagination.totalItems, '%entity%': entity }) }}
  </p>
  <nav role="navigation" class="pagination">
    {% if pagination.lastPage > 1 %}
      <ul class="flex items-center">
        <li>
          {% if page > 1 %}
            <a href={{ path(route, app.request.query.all|merge({ page: page - 1, pageSize: pageSize })) }} class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-200 border-r-0 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">
              <span class="sr-only">{{ 'pagination.previous'|trans }}</span>
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
            </a>
          {% else %}
            <a aria-disabled="true" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-200 border-r-0 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
            </a>
          {% endif %}
        </li>
        {% if pagination.hasFirstPageLandmark %}
          <li>
            <a href={{ path(route, app.request.query.all|merge({ page: 1, pageSize: pageSize })) }} class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-200 border-r-0 hover:bg-gray-100 hover:text-gray-700">
              1
            </a>
          </li>
        {% endif %}
        {% if pagination.hasLeftTruncature %}
          <li>
            <span class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-200 border-r-0 hover:bg-gray-100 hover:text-gray-700">...</span>
          </li>
        {% endif %}
        {% for p in pagination.windowPages %}
          <li>
            {% if p != page %}
              <a href={{ path(route, app.request.query.all|merge({ page: p, pageSize: pageSize })) }} class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-200 border-r-0 {{ p == page + 1 ? 'border-l-0' : '' }} hover:bg-gray-100 hover:text-gray-700">{{ p }}</a>
            {% else %}
              <a aria-current="page" class="px-3 py-2 leading-tight text-primary-500 bg-primary-100 border border-primary-300 hover:bg-primary-100 hover:text-primary-700">{{ p }}</a>
            {% endif %}
          </li>
        {% endfor %}
        {% if pagination.hasRightTruncature %}
          <li>
            <span class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-200 border-r-0 hover:bg-gray-100 hover:text-gray-700">...</span>
          </li>
        {% endif %}
        {% if pagination.hasLastPageLandmark %}
          <li>
            <a href={{ path(route, app.request.query.all|merge({ page: pagination.lastPage, pageSize: pageSize }) ) }} class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-200 border-r-0 hover:bg-gray-100 hover:text-gray-700">{{ pagination.lastPage }}</a>
          </li>
        {% endif %}
        <li>
          {% if page < pagination.lastPage %}
            <a href={{ path(route, app.request.query.all|merge({ page: page + 1, pageSize: pageSize })) }} class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-200 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">
              <span class="sr-only">{{ 'pagination.next'|trans }}</span>
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
              </svg>
            </a>
          {% else %}
            <a aria-disabled="true" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-200 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
              </svg>
            </a>
          {% endif %}
        </li>
      </ul>
    {% endif %}
  </nav>
</div>
