<form
    method="GET"
    action="{{ path('app_public_search') }}"
    class="shrink-0"
    data-turbo-frame="main"
    data-turbo-action="advance"
>
    <label for="search" class="text-inherit">{{ 'common.searchModel'|trans }}</label>
    <div class="flex">
    <input
        id="search"
        name="search"
        class="text-teal-700 font-bold bg-gray-50 sm:text-sm rounded-l-lg focus:ring-primary-600 focus:border-primary-600 p-2.5"
        type="text"
        value="{{ search|default('') }}"
        placeholder="{{ 'menu.search.placeholder'|trans }}"
        maxlength="30"
        required
    />
    <button
        type="submit"
        class="bg-teal-300 w-10 text-center rounded-r-lg"
        aria-label="{{ 'common.search'|trans }}"
    >🔎</button>
    </div>
</form>
